<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>
        {% block title %}
          Welcome!
        {% endblock %}
      </title>

      {% block stylesheets %}
        
      {% endblock %}

      {% block javascripts %}
        
      {% endblock %}

      <script type="module" src="https://localhost:5173/assets/@vite/client"></script>
      <script type="module">import { injectIntoGlobalHook } from "http://localhost:5173/assets/@react-refresh";
      injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;</script>

      <script type="module" src="http://localhost:5173/assets/main.tsx" defer></script>
  </head>

  <body>
    {% block body %}
    {% endblock %}

    <div id="root"></div>
  </body>
</html>
